@model cd_c_loginRegistration.Models.User

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Registration</title>
</head>
<body>
    <div class="cont">
        <div class="row mt-5">
            <div class="col">
                <h5>Register to this Cool Site!</h5>
            </div>
            <div class="col">
                <a href="">Login[NEED TO ADD HREF]</a>
            </div>
        </div>

        <div class="row">
            <form asp-action="register" asp-controller="home">
                <div class="col m-1 card p-3">
                    <div class="row">
                        <div class="col">
                            <div>
                                <span asp-validation-for="FirstName"></span>
                            </div>
                            <label asp-for="FirstName"></label>
                            <input asp-for="FirstName" class="form-control">

                            <div>
                                <span asp-validation-for="LastName"></span>
                            </div>
                            <label asp-for="LastName"></label>
                            <input asp-for="LastName" class="form-control">

                            <div>
                                <span asp-validation-for="Email"></span>
                            </div>
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control">
                        </div>

                        <div class="col">
                            <div>
                                <span asp-validation-for="Password"></span>
                            </div>
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control">

                            <div>
                                <span asp-validation-for="Confirm"></span>
                            </div>
                            <label asp-for="Confirm"></label>
                            <input asp-for="Confirm" class="form-control">
                        </div>
                        <input class="btn btn-outline-dark mt-3" type="submit" value="Submit">
                    </div>
                </div>


            </form>
        </div>
    </div>
</body>
</html>